UVKBuildTool/
UVKShaderCompiler/
autosetup.sh 
autosetupci.sh 
Engine/
cmake-build-debug/
.idea/
cmake-build-release/
.vs/
.vs-code/
Generated/
Exported/
build/
Config/Settings
CMakeLists.txt
Content/Engine/brick.jpg
*.spv
Content/Res/
UntitledVulkanGameEngine/
docs/
Content/entttest.uvklevel
cmake-build-relwithdebinfo/ 
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
